* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-gray);
}
/* general */
:root {
  --light-light-gray: rgb(214, 213, 213);
  --light-gray: rgb(177, 177, 177);
  --between-light-dark-gray: rgb(70, 70, 70);
  --gray: rgb(31, 31, 32);
  --darker-gray: rgb(24, 24, 24);
  --darkest-gray: rgb(17, 17, 17);
}
body {
  background-color: var(--darkest-gray);
}

i {
  /* border: springgreen solid 1px; */
  margin: 0 0.6rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:active {
  color: yellow;
}

a:visited {
  color: none;
}
.superscript {
  font-size: 0.6rem;
}

li {
  list-style: none;
}

/* ---------------------------- */
/* top nav */
.top-nav {
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
}
/* youtube home links and menu */
.yt-home-container,
.yt-home-link-container a {
  /* border: 1px green dashed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yt-home-container {
  margin-left: 1vw;
}

.fa-bars,
.yt-home-link-container a p,
.fa-microphone,
.account-links i {
  /* border: lightcoral solid 1px; */
  color: white;
}
.fa-youtube {
  color: red;
  /* margin-left: none !important; */
}
/* .fa-youtube::before {
  content: "";
  background-color: white;
  height: 0.3em;
  width: 0.3em;
  border: yellowgreen solid 1px;
  border-radius: 80%;
  z-index: -1;
} 
check to find out why this does not work */

/* searchbar top */
.big-searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-searchbar-container form {
  /* width: 40vw; */
  border: var(--between-light-dark-gray) 1px solid;
}
.searchbar {
  width: 30rem;
  /* outline-style: none; */
  /* outline-color: none; */
  background-color: var(--gray);
  padding: 0.3rem;
  border: none;
  /* outline: none; */
  /* outline-color: var(--between-light-dark-gray); */
  /* border-radius: none; */
  /* box-shadow: none; */
}
/* .searchbar:active {
  border: violet solid 1px;
  border-radius: none;
}
no change, need pseudo element like with checkbox? */
.search-icon {
  /* border-radius: none; */
  border: var(--gray) 1px solid;
  background-color: var(--between-light-dark-gray);
  /* background-blend-mode: lighten; */
  padding: 0.3rem;
}

/* account links */
.account-nav {
  /* border: 1px pink dashed; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.account-nav div {
  margin: 0 0.3rem;
}
.profile-pic img {
  width: 1.8em;
  height: 1.8em;
  /* border: steelblue solid 1px; */
  border-radius: 50%;
  display: block;
  margin-left: 0.3rem;
  margin-right: 1rem;
}
/* ---------------------------- */
/* main */
.main {
  width: 100vw;
  display: flex;
}

/* side menu general*/
.side-menu {
  display: flex;
  flex-direction: column;
  width: 17vw;
  background-color: var(--gray);
}
.icon-wrapper {
  width: 3.5rem;
}
.menu-options i {
  margin-right: 2rem;
}
.menu-options,
.side-menu h2,
.side-menu img {
  margin: 0.7em;
}
.side-menu div a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* drop down menu for "show more" */
/* .dropd-menu {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 1;
  background-color: lightcyan;
  box-shadow: mediumvioletred 0 5px 10px 0;
}

.dropd-menu a:hover .dropdown-content {
  display: block;
} */

/* side menu divider */
.side-menu-divider {
  height: 1px;
  margin-left: 0rem !important;
  width: 97%;
  background-color: var(--between-light-dark-gray);
}

/* subscriptions*/
.side-menu h2 {
  text-transform: uppercase;
}
.image-wrapper {
  border: greenyellow solid 1px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
.menu-options img {
  height: auto;
  width: 4rem;
}

/* ---------------------------- */
/* main */
.youtuber-main {
  display: flex;
  flex-direction: column;
  width: 83vw;
}
/* header */
header {
  background-image: url(../img/oliver-spicer-fjord-new-zealand.jpg);
  background-position: center;
  background-size: cover;
  height: 25vh;
}
/* nav area for youtuber */
.nav-area {
  background-color: var(--darker-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 3rem 0.5em 2rem;
}
.youtuber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.youtuber-profile {
  display: flex;
}
#youtuber-pic {
  height: 4.6rem;
  width: 4.6rem;
}
.youtuber-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.3rem;
}
.youtuber-name a {
  font-size: 1.5rem;
  font-weight: bold;
}
.fa-music {
  font-size: 0.7rem;
}
.youtuber-name p {
  font-size: 0.8rem;
}
nav ul {
  text-transform: uppercase;
  display: flex;
}
nav ul li {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}
nav a,
nav button i {
  font-size: 0.8rem;
}
.subscribe-btn {
  background-color: red;
  padding: 0.5rem 0.7rem;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}
.video-selector {
  border-bottom: 2px solid var(--light-gray);
}
.search-icon-youtuber {
  background-color: var(--gray);
  border: none;
}

/* videos from selection*/
.videos {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 3rem 0.5em 2rem;
}
h3 {
  margin: 1rem 2rem;
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}
.video {
  width: 19%;
  margin: 0.5rem 0.2rem;
}
.video img {
  height: auto;
  width: 100%;
}
.video p {
  margin: 0.5rem 1rem 1rem 0rem;
}
/* .video p:first-child */
.video-title {
  color: white;
  font-weight: bold;
}
