* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(47, 47, 47);
  color: white;
}
/* general */
:root {
  --main-width: 85vw;
  --side-menu-width: 15vw;
}

i {
  color: rgb(174, 182, 190);
  /* width: 2em;
  height: 2em; */
  border: springgreen solid 1px;
  margin: 0 0.6rem;
}

a {
  text-decoration: none;
}

a:active {
  color: yellow;
}

a:visited {
  color: none;
}
.superscript {
  font-size: 0.6rem;
}

li {
  list-style: none;
}

/* ---------------------------- */
/* top nav */
.top-nav {
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  border: mediumblue 2px solid;
}

/* youtube home links and menu */
.yt-home-container,
.yt-home-link-container a {
  /* border: 1px green dashed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yt-home-container {
  margin-left: 3vw;
}
/* .yt-home-link-container a {
  border: lightcoral solid 1px;
  display: flex;
  justify-content: space-between;
} */
.fa-youtube {
  color: red;
  /* margin-left: none !important; */
}

/* searchbar top */
/* .big-searchbar-container {
  border: 1px blue dashed;
  width: auto;
} */
/* .big-searchbar-container form {
  width: 40vw;
} */
.searchbar {
  width: 30rem;
  /* outline-style: none; */
  /* outline-color: none; */
  background-color: rgb(31, 31, 32);
  border: rgb(31, 31, 32) 1px solid;
  /* box-shadow: none; */
}

/* account links */
.account-nav {
  border: 1px pink dashed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-pic img {
  width: 1.1em;
  height: 1.1em;
  border: steelblue solid 1px;
  border-radius: 50%;
  display: block;
}
/* ---------------------------- */
/* main */
.main {
  border: mediumorchid 2px solid;
  width: 100vw;
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

/* side menu */
.side-menu {
  border: navy dashed 1px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 15vw;
  background-color: rgb(77, 81, 85);
  margin-left: 2vw;
}
.side-menu div {
  border: dashed darkviolet 1px;
  margin: 0.7em;
}
.side-menu div a {
  display: flex;
}

/* drop down menu for "show more" */
/* .dropd-menu {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 1;
  background-color: lightcyan;
  box-shadow: mediumvioletred 0 5px 10px 0;
}

.dropd-menu a:hover .dropdown-content {
  display: block;
} */

/* side menu divider */
.side-menu-divider {
  height: 2px;
  width: 90%;
  background-color: maroon;
}

/* subscriptions*/
.menu-options img {
  height: 3em;
  width: auto;
  border-radius: 50%;
}

/* ---------------------------- */
/* main */
.youtuber-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 75vw;
  border: mediumseagreen 2px solid;
}
/* header */
header {
  background-image: url(../img/oliver-spicer-fjord-new-zealand.jpg);
  background-position: center;
  background-size: cover;
  height: 25vh;
}
/* nav area for youtuber */
.nav-area {
  border: tomato 1px solid;
}

/* clicked on videos */
.videos {
  border: yellowgreen 2px solid;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.videos-container {
  border: tomato dashed 1px;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
}

.video img {
  height: 10rem;
  width: auto;
}
