* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* general */
i {
  color: slategray;
  /* width: 2em;
  height: 2em; */
  border: springgreen solid 1px;
}

/* top nav */
.yt-home-container {
  border: 1px green dashed;
}
.big-searchbar-container {
  border: 1px blue dashed;
}
.profile-links {
  border: 1px pink dashed;
}
