:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  color: $light-gray;
}
// Body
body {
  background-color: $darkest-gray;
}
/* main */
.main {
  width: 100vw;
  display: flex;
}
// headers
h3 {
  margin: 1rem 2rem;
}
// All icons
i {
  /* border: springgreen solid 1px; */
  margin: 0 0.6rem;
  font-size: 1.1rem;
}
// All links
a {
  text-decoration: none;
}
a:active {
  color: yellow;
}
a:visited {
  color: none;
}
// The superscript of the Youtube logo in the top left corner
.superscript {
  font-size: 0.6rem;
}
// All list items
li {
  list-style: none;
}
