/* navigation in the top */
.top-nav {
  @include flex-space-between();
  width: 100vw;
  height: 7vh;
  background-color: $gray;
}

/* youtube home links and menu (top left corner) */
// container of youtube home area sidebar
.yt-home-container {
  @include flex-space-between();
  margin-left: 1vw;
}
.yt-home-link-container {
  a {
    @include flex-space-between();
    p {
      color: white;
    }
  }
}
// youtube logo icon
.fa-youtube {
  color: red;
}
/* .fa-youtube::before {
  content: "";
  background-color: white;
  height: 0.3em;
  width: 0.3em;
  border: yellowgreen solid 1px;
  border-radius: 80%;
  z-index: -1;
} 
check to find out why this does not work */

// The superscript of the Youtube logo in the top left corner
.superscript {
  font-size: 0.6rem;
}
// hamburger menu and microphone icon
.fa-bars,
.fa-microphone {
  color: white;
}
// account navigation options
.account-links {
  i {
    color: white;
  }
}
// searchbar top
.big-searchbar-container {
  @include flex-center-all();
  form {
    border: $between-light-dark-gray 1px solid;
  }
}
.searchbar {
  width: 30rem;
  background-color: $gray;
  padding: 0.3rem;
  border: none;
}
/* .searchbar:active {
  border: violet solid 1px;
  border-radius: none;
}
no change, need pseudo element like with checkbox? */

// search icon of searchbar
.search-icon {
  border: $gray 1px solid;
  background-color: $between-light-dark-gray;
  padding: 0.3rem;
}

// user account links (top right corner)
.account-nav {
  @include flex-space-evenly();
  div {
    margin: 0 0.3rem;
  }
}
// toggle switch for light and dark mode
.toggle-switch-mode-container {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: tomato 1px dashed;
}
//label
.mode-switch {
  width: 4rem;
  height: 2rem;
  // border: greenyellow 1px solid;
  position: relative;
  // display: inline-block;
  // to hide the checkbox:
  input {
    // display: none;
    opacity: 0;
    // Q: does it matter here if I have display none or opacity?
    width: 0;
    height: 0;
  }
}
//the slider inside mode-switch
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  height: 1rem;
  width: 3rem;
  border: darkorange 1px solid;
}
.slider::before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background-color: blue;
  border-radius: 100%;
}
input:checked + .slider {
  background-color: lightsteelblue;
}
input:checked + .slider::before {
  transform: translateX(2rem);
}
// -------------

/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  margin-left: 1rem;
  border: 2px red dashed;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.5s;
  border-radius: 5rem;
  border: springgreen 1px solid;
}
.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  bottom: 0.35rem;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 100%;
  border: rgb(46, 48, 204) 1px solid;
}
input:checked + .slider {
  background-color: lightsteelblue;
}
input:checked + .slider::before {
  transform: translateX(2.5rem);
}

// ------------
// input {
//   display: block;
//   width: 10%;
//   border-radius: 2rem;
//   border: none;
//   background-color: lightgray;
// }
// /* fancy checkbox */
// .toggle {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// /* Hide the ugly html checkbox */
// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// /* The switch */
// .switch {
//   position: relative;
//   width: 4rem;
//   height: 2rem;
//   margin-left: 1rem;
//   border: 2px red dashed;
// }

// .slider {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   cursor: pointer;
//   background-color: #ccc;
//   transition: 0.2s;
//   border-radius: 5rem;
// }

// .slider::before {
//   position: absolute;
//   content: "";
//   left: 0.25rem;
//   bottom: 0.35rem;
//   height: 1rem;
//   width: 1rem;
//   background-color: white;
//   border-radius: 100%;
// }

// input:checked + .slider {
//   background-color: lightsteelblue;
// }

// input:checked + .slider::before {
//   transform: translateX(2.5rem);
// }

// account image of user
.profile-pic img {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  display: block;
  margin-left: 0.3rem;
  margin-right: 1rem;
}
