/* container of videos-container (the selected frame of the 
channel nav selection videos) */
.videos {
  flex-wrap: wrap;
  margin: 1em 3rem 0.5em 2rem;
}
// container for all individual videos
.videos-container {
  flex-wrap: wrap;
  margin: 1rem 2rem;
}
// individual video containers
.video {
  width: 20%;
  height: 35vh;
  img {
    width: 98%;
    height: 50%;
  }
  p {
    margin: 0.5rem 1rem 1rem 0rem;
  }
}
/* .video p:first-child does not work, why? */
.video-title {
  color: white;
  font-weight: bold;
}
