$light-light-gray: rgb(214, 213, 213);
$light-gray: rgb(177, 177, 177);
$between-light-dark-gray: rgb(70, 70, 70);
$gray: rgb(31, 31, 32);
$darker-gray: rgb(24, 24, 24);
$darkest-gray: rgb(17, 17, 17);
